*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:40px;
}

.menu-card{
    width:750px;
    background:#1a1a1a;
    border-radius:18px;
    padding:40px;
    box-shadow:0 0 40px rgba(0,0,0,.6);
}

.header{
    text-align:center;
    margin-bottom:40px;
}

.header h1{
    color:#d4a373;
    font-size:60px;
    letter-spacing:4px;
    font-weight:900;
}

.header p{
    color:#cfcfcf;
    margin-top:10px;
    font-size:15px;
}

.top-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}

.bottom-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    margin-top:50px;
}

.coffee-cup,
.cold-drink{
    flex:1;
    display:flex;
    justify-content:center;
}

.coffee-cup img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #8b5e3c;
}

.cold-drink img{
    width:220px;
    height:260px;
    object-fit:cover;
    border-radius:12px;
}

.hot-menu,
.cold-menu{
    flex:1.4;
}

.hot-menu h2,
.cold-menu h2{
    color:#d4a373;
    margin-bottom:18px;
    font-size:30px;
}

.item{
    display:flex;
    justify-content:space-between;
    padding:7px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.item span:first-child{
    color:#fff;
}

.item span:last-child{
    color:#d4a373;
    font-weight:bold;
}

.footer{
    text-align:center;
    color:#aaa;
    margin-top:40px;
    font-size:14px;
}

@media(max-width:768px){

    .menu-card{
        width:100%;
        padding:25px;
    }

    .top-section,
    .bottom-section{
        flex-direction:column;
    }

    .header h1{
        font-size:40px;
    }

    .coffee-cup img{
        width:180px;
        height:180px;
    }

    .cold-drink img{
        width:180px;
        height:220px;
    }
}