@import url(https://db.onlinewebfonts.com/c/226f58ab113a6d821def90a7d6dc2427?family=GT+Pressura+Mono+Regular+Regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT Pressura Mono Regular Regular";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 40px;
  z-index: 10;
}

.right,
.left {
  display: flex;
  width: 35%;
}

.hero {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 180px;
}

.cursorBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  pointer-events: none;
  z-index: 100;
}

.cursorBox video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
